<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>IPA user creation</title>
</head>
<body>
<h2> IPA User creation page!</h2>
<div style="background: orangered;">
  <p th:text="'You are logged in as - '+${userName}"/>
  <p>
    Click <a th:href="${logoutUrl}">here </a> to log off.
  </p>
</div>


<p th:text="'Using http method -> ' + ${http_method} + '!'"/>
</body>
</html>