<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>IPA delete user</title>
</head>
<body>
<h2> IPA User delete page!</h2>

<p th:text="'Using http method -> ' + ${http_method} + '!'"/>
</body>
</html>